.footer {
  width: 100%;
  padding: 5%;
  margin: 1rem auto;
  background:$hero-gradient;
  color: $light-color;
  .footer-content {
    text-align: left;
    .footer-title {
      font-size: 22px;
      font-weight: 800;
    }
    .footer-links {
      display: block;
      margin: 7px 0;
      &:hover {
        color: $light-blue-color;
      }
    }
  }
  .copy-right {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 2rem;
    text-align: center;
  }
}
