$hero-gradient: hsla(208, 33%, 21%, 1);
$menu-gradient: linear-gradient(
  90deg,
  hsla(205, 46%, 10%, .9) 0%,
  hsla(191, 28%, 23%, .8) 50%,
  hsla(207, 41%, 27%, .9) 100%
);
$light-color: #f3f3f3;
$light-blue-color: #54a2d2;
$lighter-blue-color: #a9cee8;
$dark-color: #3d3d3d;

// responsive
$xl-size: 1200px;
$lg-size: 992px;
$md-size: 768px;
$sm-size: 580px;
$xsm-size: 350px;
